# pastas de saída de compilação
/Meal card/bin/
/Meal card/obj/

# arquivos de configuração de usuário
/Meal card/*.user
/*.suo
/*.userprefs

# logs
/Meal card/*.log
/Meal card/*.tmp
/Meal card/*.cache

# pastas de ferramentas
/Meal card/packages/
/Meal card/.vscode/
/.vs/